<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuillsModManagerV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuillsModManagerV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <QuillsModManagerV2.Properties.Settings>
            <setting name="BGPrimary" serializeAs="String">
                <value>16, 16, 20</value>
            </setting>
            <setting name="BGSecondary" serializeAs="String">
                <value>20, 20, 26</value>
            </setting>
            <setting name="BGTertiary" serializeAs="String">
                <value>30, 30, 36</value>
            </setting>
            <setting name="DetailColor" serializeAs="String">
                <value>60, 60, 66</value>
            </setting>
            <setting name="DetailActive" serializeAs="String">
                <value>110, 106, 246</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>16, 16, 20</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PlaceholderColor" serializeAs="String">
                <value>193, 200, 207</value>
            </setting>
            <setting name="FormShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInput" serializeAs="String">
                <value>User Input</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\CastleCrashers</value>
            </setting>
            <setting name="UserDataPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\userdata</value>
            </setting>
            <setting name="SelectedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NotifColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NotifWidth" serializeAs="String">
                <value>226</value>
            </setting>
            <setting name="TxtNotif" serializeAs="String">
                <value>TxtNotif</value>
            </setting>
            <setting name="BorderRadius" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="HotKeyForm" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ModPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProfile" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ApplicationSize" serializeAs="String">
                <value>925, 504</value>
            </setting>
            <setting name="ApplicationMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EfficiencyMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentSteamUser" serializeAs="String">
                <value />
            </setting>
        </QuillsModManagerV2.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>
    <applicationSettings>
        <QuillsModManagerV2.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v2.0.0</value>
            </setting>
        </QuillsModManagerV2.Properties.Settings>
    </applicationSettings>
</configuration>